h1{
		font-family: 'Berkshire Swash', cursive;
		font-size: 100px;
		text-shadow: 2px 2px #348AA7;
    color: white;
    margin-top: 60px;




	}
	body{
		background-image: url(https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

	}
.button {
  display: block;
  border-radius: 7px;
  background-color: #348AA7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 21px;
  font-family: 'Quando', serif;

  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.75);

}
.button:hover{
	box-shadow: -1px 2px 26px 0px rgba(0,0,0,0.75);

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;

}

#content {
  height: 700px;
}