 @import url('https://fonts.googleapis.com/css?family=Raleway');
 @import url('https://fonts.googleapis.com/css?family=Cinzel');


 body {


    font-family: 'Raleway', sans-serif;


 }


 #wholeDiv {
 	background-image: url("https://selenagomezdailynews.weebly.com/uploads/2/9/6/2/29629647/5754654.png");
    background-repeat: no-repeat;
    background-position: right;

 }

#navbarTitle {


    font-family: 'Cinzel', serif;


}


#topImage{
	display: block;
	margin: auto;
	padding-top: 60px;
	width: 100%;
}
#displayPic{
	display: block;
	margin: auto;
	border-radius: 1000px;
	width: 300px;
	height: 300px;
}
#workImage{
	width: 100%;
	height: 300px;
	margin-top: 13px;
}
#description{
	color: gray;
}
.workLink:hover{
	cursor: pointer;
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}
#quoteBox{
	width: 100%;
	height: 170px;
	background-color: lightgray;
}
#quoteBox1{
	width: 100%;
	height: 170px;
	background-color: lightgray;
}
#quote{
	margin-top: 25px;
	font-size: 21px;
	font-weight: bold;
}

#quoteAuthor{
	font-size: 18px;
	text-align: right;
}
#quoteAuthor1{
	font-size: 18px;
	text-align: left;
}
#pngImg{
	width:300px;
	height:300px;
	display: block;
	margin: auto;
	position: relative;
	bottom:90px;
}
#carouselExampleIndicators{
	width:612px;
	height:612px;
	margin:auto;
	display:block;
}
#pngImg1{
	width:380px;
	height:500px;
	display: block;
	margin: auto;
	position: relative;
	bottom:220px;
}
#footerBox{
	background-color: #343a40;
	height:250px;
}
#footerImg{
	display: block;
	margin: auto;
}
h6{
	color: white;
	font-weight: bold;
	margin-top: 13px;
	font-size: 21px;
}
ul{
	list-style-type: none;
	color: white;
	font-size: 15px;
	margin-left: 13px;
}
.footerText{
	color:white;
}
#socialLogo{
	width:30px;
	height:30px;
}
#socialLogoT{
	width:40px;
	height:40px;
}
#socialLogoF{
	width: 35px;
	height: 35px;
}

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer1 {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;} 
.webgl-content .footer1 .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer1 .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer1 .title {margin-right: 10px; float: right;}
.webgl-content .footer1 .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}



 .webgl-content{
    box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
    
}

#aboutBox {
	height:930px;
}
#aboutPic {
	height:930px;
	width: 100%;
}
#aboutTitle {
	padding-top: 60px;
	text-align: center;
}
#aboutNameImg {
	display: block;
	margin: auto;
}
.about {
	text-align: center;
	font-size: 21px;
}

.about1 {
	text-align: center;
	font-size: 21px;
	color: gray;
}
#resumeBox {
	height:700px;
}
#gif1 {
	margin: auto;
	display: block;
}



@media only screen and (max-width: 768px) {


	#description {
		margin-bottom: 0px;
	}

	#qBox {
		margin-top: 60px;
	}

	h5 {
		text-align: center;
		font-weight: bold;
		margin-bottom: 0px
	}

	#quoteBox {
		height: 300px;
	}

	#carouselExampleIndicators {
		width: 100%;
	}

	#footerBox {
		margin-top: 100px;
	}

	#quoteBox1 {
		height: 400px;
	}

	#pngImg1 {
		bottom:200px;
		position: relative;
	}

	#sg1 {
		height: 200px;
	}

	#aboutPic {
		height: 750px;
	}

	#gall {
		margin-top: 100px;
	}

	#wholeDiv {
		background-image: none;
	}



}